@import 'functions';
@import 'variables';
@import 'mixins';
@import 'animations';
@import 'blue';
@import 'orange';
@import 'yellow';
@import 'green';
@import 'pink';
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Poppins:200,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');

* {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    outline            : none;
    text-decoration    : none;
    list-style-type    : none;
    font-family        : $font_One;
    @include padding_And_Margin(0,0);
}

html, body {
    scroll-behavior    : smooth;
    letter-spacing     : .0625rem;
    line-height        : 1.5;
    font-size          : 100%;
    font-weight        : 200;
    @include fullSize;
}
::before, ::after{
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

.shadow-dark{
    box-shadow              : 0 0 20px rgba(48,46,77,0.25);
}
.btn{
    font-size               : toRem(16px);
    font-family             : $font_Two;
    padding                 : 12px 35px;
    font-weight             : 500;
    color                   : #ffffff;
    border-radius           : 40px;
    transition              : all 0.3s ease;
    display                 : inline-block;
    white-space             : nowrap;
    border                  : none;
    cursor                  : pointer;
    &:hover{
        transform           : scale(1.05);
    }
}
.hidden{
    display                 : none !important;
}

.padd-15{
    padding                 : 0 15px;
}

.main-content .section{
    background-color        : $background_Light_One;
    min-height              : 100vh;
    display                 : block;
    padding                 : 0 30px;
    position                : fixed;
    left                    : 270px;
    top                     : 0;
    right                   : 0;
    bottom                  : 0;
    z-index                 : 0;
    opacity                 : 1;
    overflow-x              : hidden;
    overflow-y              : auto;
    &.back-section{
        z-index             : 1;
    }
    &.active{
        opacity             : 1;
        z-index             : 2;
        animation           : slideSection 1s ease;
    }
    .container {
        padding-top         : 60px;
        padding-bottom      : 70px;
        margin              : auto;
        max-width           : 1100px;
        width               : 100%;
        .row{
            @include flex;
            flex-wrap       : wrap;
            margin          : 0 -15px;
            position        : relative;
        }
        .section-title{
            flex            : 0 0 100%;
            max-width       : 100%;
            margin-bottom   : 60px;
            h2{
                font-size   : toRem( 30px ); 
                font-family : $font_Two;
                font-weight : 700;
                color       : $heading_Light;
                margin      : 0;
                position    : relative;
                &:before{
                    content : '';
                    height  : 4px; 
                    width   : 25px;
                    position: absolute;
                    top     : 100%;
                    left    : 0;
                    margin-top: 8px;
                }
                &:after{
                    content : '';
                    height  : 4px; 
                    width   : 50px;
                    position: absolute;
                    top     : 100%;
                    left    : 0;
                }
            }
        }
    }
}