@import 'functions';
@import 'variables';
@import 'mixins';
@import 'animations';
@import 'pink';
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Poppins:200,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');

* {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    outline            : none;
    text-decoration    : none;
    list-style-type    : none;
    font-family        : $font_One;
    @include padding_And_Margin(0,0);
}

html, body {
    scroll-behavior    : smooth;
    letter-spacing     : .0625rem;
    line-height        : 1.5;
    font-size          : 100%;
    font-weight        : 200;
    @include fullSize;
}
::before, ::after{
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}