.aside .logo a.pink::before{
    border-top              : 4px solid $pink;
    border-left             : 4px solid $pink;
}

.aside .logo a.pink::after{
    border-right            : 4px solid $pink;
    border-bottom           : 4px solid $pink;
}

.contact .contact-info-item .icon.pink svg,
.lightbox .lightbox-controls .prev-item.pink .svg-inline--fa,
.lightbox .lightbox-controls .next-item.pink .svg-inline--fa,
.portfolio .portfolio-item .portfolio-info.pink .svg-inline--fa,
.portfolio .container .portfolio-filter button.pink.active,
.service .service-item .service-item-inner .icon.pink svg,
.about .about-content .about-text h3 span.pink,
.aside .nav li a.pink:hover, 
.aside .nav li a.pink.active{
        color               : $pink;
}

.service .service-item .service-item-inner:hover .icon.pink,
.education .timeline-box .timeline .timeline-item.pink::before,
.experience .timeline-box .timeline .timeline-item.pink::before,
.education .timeline-box .timeline .timeline-item .circle-dot.pink,
.experience .timeline-box .timeline .timeline-item .circle-dot.pink,
.about .skills .skill-item .progress .progress-in.pink,
.btn.pink,
.section-title h2.pink::before,
.section-title h2.pink::after,
.aside .nav-toggler span.pink,
.aside .nav-toggler span.pink::before,
.aside .nav-toggler span.pink::after, 
.home .intro .social-links a.pink{
    background-color        : $pink;
}

.portfolio .container .portfolio-filter button.pink.active{
    border-color            : $pink;
}