$FULL               : 100%;
$HALF               : 50%;
$QUARTER            : 25%;

$MARGIN_AUTO        : 0 auto;

$BLUE               : #0041ffc9;
$BLACK              : #1c1d25;
$FONT_COLOR         : #5d5d5d;
$FONT_SIZE          : toRem( 16px );
$FONT_FAMILY_ONE    : 'Poppins', sans-serif;
$FONT_FAMILY_TWO    : 'Major Mono Display', monospace;
$FONT_LIGHT         : 200;
$FONT_NORMAL        : 500;
$FONT_BOLD          : 700;

$ACTIVE             : invert(95%) sepia(100%) saturate(5900%) hue-rotate(190deg) contrast(125%) brightness(80%);
