$full               : 100%;
$half               : 50%;
$quarter            : 25%;

$margin_Auto        : 0 auto;

$font_One           : 'Poppins', sans-serif;
$font_Two           : 'Rubik', sans-serif;

// Body-Light
$background_Light_One   : #f2f2fc;
$background_Light_Two   : #fdf9ff;
$heading_Light          : #302e4d;
$text_Light             : #504e70;
$border_Light_One       : #d4d4e3;
$border_Light_Two       : #e8dfec;

// Body-Dark
$background_Dark_One    : #151515;
$background_Dark_Two    : #222222;
$heading_Dark           : #ffffff;
$text_Dark              : #e9e9e9;
$border_Dark            : #393939;

// Style Skins
$pink                   : #ec1839;
$blue                   : #2196f3;
$orange                 : #fa5b0f;
$yellow                 : #ffb400;
$green                  : #72b626;
