@import 'origin';

/* Preloader */
.preloader{
    background-color: $background_Dark_Two;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    @include flex(row, center, center);
    transition: all 1s ease;
    &.opacity-0{
        opacity: 0;
    }
    .loader{
        height: 40px;
        width: 40px;
        border: 4px solid #e3e3e3;
        border-radius: 50%;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        animation: spin 2s linear infinite;
    }
}


/* Aside */
.aside{
    width                           : 270px;
    background-color                : $background_Light_Two;
    position                        : fixed;
    height                          : $full;
    left                            : 0;
    top                             : 0;
    z-index                         : 10;
    padding                         : 30px; 
    border-right                    : 1px solid $border_Light_Two;
    .logo{
        padding                     : 30px 0;
        a{
            font-size               : toRem( 22px );
            color                   : $heading_Light;
            font-family             : $font_Two;
            display                 : inline-block;
            position                : relative;
            padding                 : 0 10px;
            line-height             : 35px;
            &:before{
                content             : '';
                height              : 20px;
                width               : 20px;
                position            : absolute;  
                top                 : 0;
                left                : 0;
            }
            &:after{
                content             : '';
                height              : 20px;
                width               : 20px;
                position            : absolute;  
                bottom              : 0;
                right               : 0;
            }
        }
    }
    .nav-toggler{
        height                      : 40px;
        width                       : 45px;
        border                      : 1px solid $border_Light_One;
        cursor                      : pointer;
        position                    : fixed;
        left                        : 300px;
        top                         : 30px;  
        z-index                     : 9999;
        border-radius               : 5px;
        background-color            : $background_Light_Two;
        display                     : none;
        span,
        span::before,
        span:after{
            height                  : 2px;
            width                   : 18px;
        }
        span{
            position                : relative;
            &:before, &:after{
                content             : '';
                position            : absolute;
            }
            &:before{
                top                 : -6px;
                left                : 0;
            }
            &:after{
                top                 : 6px;
                left                : 0;
            }
        }
    }
    .nav{
        margin                      : 80px 0;
        padding                     : 0;
        li{
            border-bottom           : 1px solid $border_Light_Two;
            a{
                font-size           : toRem( 16px );
                font-weight         : 500;
                color               : $heading_Light;
                line-height         : 45px;
                display             : block;
                text-transform      : capitalize;
                -webkit-transition  : all 0.3s ease;
                transition          : all 0.3s ease;
                &:not(.active):hover{
                    padding-left    : 5px;
                    margin          : 0;
                }
                svg{
                    margin-right    : 10px;
                }
            }
        }
    }
    .copyright-text{
        font-size                   : toRem( 13px );
        color                       : #7d7d7d;
        position                    : absolute;
        bottom                      : 10px;
    }

}
/* Home Section */
.home{
    min-height                      : 100vh;
    @include flex;
    .intro{
        text-align                  : center;
        img{
            border-radius           : 50%;
            display                 : inline-block;
            border                  : 3px solid #ffffff;
        }
        h1{
            font-size               : toRem( 30px );
            font-family             : $font_Two;
            margin                  : 20px 0 5px;
            color                   : $heading_Light;
        }
        p{
            font-size               : toRem( 16px ); 
            color                   : $text_Light;
            line-height             : 22px;
            font-weight             : 500;
        }
        .social-links{
            margin-top              : 25px;
            a{
                height              : 35px;
                width               : 35px;
                display             : inline-block;
                text-align          : center;
                line-height         : 35px;
                margin              : 0 4px;
                color               : #ffffff;
                border-radius       : 50%;
                transition          : all 0.3s ease;
                &:hover{
                    transform       : scale(1.1);
                }
            }
        }
    }
}

/* About Section */
.about{
    flex                                : 0 0 100%;
    max-width                           : 100%;
    .about-content .about-text{
        flex                            : 0 0 100%;
        max-width                       : 100%;
        h3{
            font-size                   : toRem( 24px );
            margin-bottom               : 15px;
            font-weight                 : 500;
            color                       : $heading_Light;
        }
        p{
            font-size                   : toRem( 16px );
            line-height                 : 25px;
            color                       : $text_Light;  
            margin                      : 0;
        }
    }
        
    
    .personal-info{
        flex                            : 0 0 60%;
        max-width                       : 60%;
        margin-top                      : 40px; 
        .info-item{
            flex                        : 0 0 50%;
            max-width                   : 50%;
            margin-bottom               : 30px;
            p{
                padding                 : 3px 0;
                font-weight             : 500;
                color                   : $heading_Light;
                margin                  : 0;
            
                &:nth-child(even){
                    font-weight         : 100;
                    color               : $text_Light; 
                    border-bottom       : 1px solid #e8dfec;
                }
            }
        }
        .buttons{
            margin-top                  : 10px;
            .btn{
                margin                  : 10px 15px 0 0;
            }
        }
    }
    .skills{
    flex                                : 0 0 40%;
    max-width                           : 40%;
    margin-top                          : 40px;
        .skill-item{
            flex                        : 0 0 100%; 
            max-width                   : 100%;
            margin-bottom               : 20px;
            h4{
                line-height             : 40px;
                font-size               : toRem( 16px );
                color                   : $heading_Light;
                font-weight             : 400;
                margin                  : 0;
            }
            .progress{
                background-color        :#e3e3e3;
                height                  : 8px;
                border-radius           : 4px;
                width                   : 100%;
                position                : relative;
                .progress-in{
                    position            : absolute;
                    left                : 0;
                    top                 : 0;
                    height              : 100%;
                    border-radius       : 4px;
                }
            }
            .skill-percent{
                line-height             : 40px;
                position                : absolute;
                right                   : 0;
                top                     : -40px;

            }
        }
    }        
    .education, 
    .experience{
        h3.title{
            font-size                    : toRem(20px);
            font-weight                  : 500;
            color                        : $heading_Light;
            margin-bottom                : 30px;
        }
        .timeline-box{
            flex                         : 0 0 100%;
            max-width                    : 100%;
            .timeline{
                background-color         : $background_Light_Two;
                padding                  : 30px 15px;
                border                   : 1px solid $border_Light_One;
                border-radius            : 10px;
                width                    : 100%;
                .timeline-item{
                    position                 : relative;
                    padding                  : 0 0 50px 20px;
                    &:before{
                        content              : '';
                        width                : 1px;
                        height               : 100%;
                        left                 : 7px;
                        top                  : 0;
                        position             : absolute;
                    }
                    &:last-child{
                        padding-bottom       : 0;
                    }
                    .circle-dot{
                        position              : absolute;
                        left                  : 0;
                        top                   : 0;
                        height                : 15px;
                        width                 : 15px;
                        border-radius         : 50%;
                    }           
                    .timeline-date{
                        font-weight           : 400;
                        font-size             : toRem( 12px );
                        margin-bottom         : 12px;
                        text-transform        : capitalize;
                        color                 : $text_Light;
                        svg{
                            margin-right      : 5px;
                        }
                    }
                    .timeline-title{
                        font-weight           : 600;
                        font-size             : toRem( 16px );
                        margin-bottom         : 15px;
                        text-transform        : capitalize;
                        color                 : $heading_Light; 
                    }
                    .timeline-text{
                        font-size             : toRem(16px);
                        line-height           : 25px;
                        color                 : $text_Light;
                        margin                : 0;
                    }
                }
            }
        }
    }
    .education {
        flex                             : 0 0 50%;
        max-width                        : 50%;
        margin-top                       : 30px;
    }     
    .experience{
        flex                             : 0 0 50%;
        max-width                        : 50%;
        margin-top                       : 30px;
    } 
}

/*Service Section*/
.service  .container{
    padding-bottom              : 40px;
    .service-item{
        padding                     : 15px;
        flex                        : 0 0 33.33%;
        max-width                   : 33.33%;
        margin-bottom               : 30px;
        @include flex;
        .service-item-inner{
            border                  : 1px solid $border_Light_One;
            border-radius           : 10px;
            padding                 : 30px 15px;
            text-align              : center;
            transition              : all 0.3s ease;
            &:hover{
                box-shadow              : 0 0 20px rgba(48,46,77,0.25);
            }
            &:hover .icon svg{
                font-size           : toRem(24px);
                color               : #ffffff;
            }
            .icon{
                height              : 60px;
                width               : 60px;
                display             : block;
                margin              : 0 auto 30px;
                border-radius       : 50%;
                text-align          : center;
                transition          : all 0.3s ease;
                svg{
                    font-size       : toRem(30px);
                    line-height     : 60px;
                    height          : 60px;
                    transition          : all 0.3s ease;
                }
            }
            h4{
                font-size           : toRem(18px);
                margin-bottom       : 15px;
                color               : $heading_Light; 
                font-weight         : 700;
                text-transform      : capitalize;
            }
            p{
                color               : $text_Light;
                font-size           : toRem(16px);
                line-height         : 25px;
                margin              : 0;
            }
        }
    }
}

/*Portfolio Section*/
.portfolio .container{
    padding-bottom                          : 40px;
    .portfolio-filter{
        flex                                : 0 0 100%;
        max-width                           : 100%;
        text-align                          : center;
        margin-bottom                       : 40px;
        button{
            border                          : none;
            background-color                : transparent;
            font-size                       : toRem(16px);
            font-weight                     : 500;
            text-transform                  : capitalize;
            margin                          : 0 10px;
            color                           : $heading_Light;
            cursor                          : pointer;
            border-bottom                   : 2px solid transparent;
            white-space                     : nowrap;
            transition                      : all 0.3s ease;
        }
    }
    .portfolio-item {
        flex                                : 0 0 33.3%;
        max-width                           : 33.33%;
        margin-bottom                       : 30px;
        &.hide{
            display: none;
        }
        &.show{
            display: block;
            animation: showItem .5s ease;
        }
        .portfolio-item-inner{
            border                          : 4px solid $background_Light_Two;
            border-radius                   : 6px;
            overflow                        : hidden; 
            cursor                          : pointer;
            position                        : relative;
            &:hover .portfolio-info,
            &:hover .portfolio-info h4,
            &:hover .portfolio-info .icon{
                transform               : translate(0px);
                opacity: 1;
            }
            img{
                width                       : 100%;
                display                     : block;
            }
            .portfolio-info{
                position                    : absolute;
                left                        : 0;
                top                         : 0;
                background-color            : rgba(0, 0, 0, 0.8);
                height                      : 100%;
                width                       : 100%; 
                z-index                     : 1;
                padding                     : 30px;
                opacity                     : 0;
                transition                  : all 0.3s ease;
                h4{
                    font-size               : toRem(16px);
                    font-weight             : 600;
                    color                   : #ffffff;
                    text-transform          : capitalize;
                    transition              : all 0.3s ease;
                    transform               : translate(-20px);
                    opacity                 : 0;
                }
                .icon{
                    height                  : 30px;
                    width                   : 30px;
                    background-color        : #ffffff;
                    text-align              : center;
                    border-radius           : 50%;
                    position                : absolute;
                    right                   : 30px;
                    bottom                  : 30px;
                    transition              : all 0.3s ease;
                    transform               : translate(20px);
                    opacity                 : 0;

                }
                .svg-inline--fa {
                    line-height             : 30px;
                    height                  : 100%;
                }
            }
        }
    
        
    }
}


/*Blog Section*/


/* Lightbox */
.lightbox{
    position    : fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    padding: 30px;
    cursor          : zoom-out;
    display: none;
    &.open{
        @include flex(row, center, center);
        .lightbox-content {
            position: relative;
            animation: lightboxImage .5s ease;
            .lightbox-close{
                position: absolute;
                top: 0;
                right: 0;
                height: 30px;
                width: 30px;
                font-size: toRem(28px);
                line-height: 30px;
                text-align: right;
                color: #ffffff;
            }
            img{
            height: auto;
            width: auto;
            max-width: 100%;
            max-height: 450px;
            display: block;
            padding: 40px 0 30px;
            cursor : pointer;
            }
            .lightbox-caption {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                font-size: toRem(16px);
                color: #ffffff;
                z-index: -1;
                @include flex(row, space-between);
                
            }
        }
        .lightbox-controls {
            position: absolute;
            width: 100%;
            .prev-item, .next-item{
                position: absolute;
                height: 40px;
                width: 40px;
                background-color:#ffffff;
                text-align: center;
                border-radius: 50%;
                line-height: 48px;
                cursor : pointer;
                top: 50%;
                margin-top: -20px;
                z-index: 9999;
                transition: all 0.3s ease;
                .svg-inline--fa{
                    font-size: toRem(24px);
                }
                &:hover {
                    transform: scale(1.1)
                }
            }
            .prev-item{
                left: 30px;
            }
            .next-item{
                right: 30px;
            }
        }
    }
}

/* Contact Section */
.contact {
    .contact-info-item{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 40px;
        .icon{
            display: inline-block;
            svg{
                font-size: toRem(24px);
            }
        }
        h4{
            text-transform: capitalize;
            color: $heading_Light;
            margin: 5px 0 5px;
            font-size: toRem(16px);
            font-weight: 400;
            text-decoration: underline;
        }
    }
    .contact-form{
        flex: 0 0 100%;
        max-width: 100%;
        .form-item{
            margin-bottom: 30px;
            &.col-6{
                flex: 0 0 50%;
                max-width: 50%;
            }
            &.col-12{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .form-control{
                width: 100%;
                height: 50px;
                border-radius: 25px;
                border: 1px solid $border_Light_One;
                padding: 10px 25px;
                color: $text_Light;
                transition: all 0.3s ease;
                &:focus{
                    box-shadow              : 0 0 20px rgba(48,46,77,0.25);
                }
            }
            #textarea{
                height: 150px;
            }
        }
        .btn{
            height: 50px;
            padding: 0 50px;
        }
    }
}

/* Style Switcher */
.style-switcher{
    position: fixed;
    top: 10px;
    right: 0;
    z-index: 10;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid $border_Light_One;
    border-right: none;
    border-radius: 0 0 0 5px;
    transform: translateX(100%);
    transition: all 0.3s ease;
    &.open{
        transform: translateX(0%);
    }
    .toggle-style-switcher{
        position: absolute;
        height: 45px;
        width: 45px;
        left: -46px;
        top: -1px;
        background-color: #ffffff;
        border: 1px solid $border_Light_One;
        border-right: none;
        text-align: center;
        line-height: 44px;
        cursor: pointer;
        border-radius: 5px 0 0 5px;
        svg{
            line-height: 16px;
            font-size: toRem(16px);
        }
    }
    h5{
        font-size: toRem(14px);
        color: $heading_Light;
        margin-bottom: 8px;
        padding: 5px;
        border-bottom: 1px solid $border_Light_Two;
    }
    ul li{
        display: inline-block;
        button{
            height: 30px;
            width: 30px;
            display: block;
            border-radius: 50%;
            cursor: pointer;
            text-decoration: none;
            margin-right: 2px;
            &[data-color="pink"]{
                background-color: $pink;
            }
            &[data-color="blue"]{
                background-color: $blue;
            }
            &[data-color="orange"]{
                background-color: $orange;
            }
            &[data-color="yellow"]{
                background-color: $yellow;
            }
            &[data-color="green"]{
                background-color: $green;
            }
        }
    }
}

/* Dark Body */
body.dark {

    .aside{
        background-color: $background_Dark_Two;
        .logo a,
        .nav li a{
            color: $heading_Dark;
        }
        .nav li a{
            border-color: $border_Dark;
        }
    }

    .main-content .section{
        background-color: $background_Dark_One;
    }
    .main-content{
        .home .intro h1,
        .section .container .section-title h2,
        .about .about-content .about-text h3,
        .about .about-content .personal-info .info-item p span,
        .about .skills .skill-item h4,
        .about .education h3.title, 
        .about .experience h3.title,
        .about .education .timeline-box .timeline .timeline-item .timeline-title, 
        .about .experience .timeline-box .timeline .timeline-item .timeline-title,
        .service .container .service-item .service-item-inner h4,
        .portfolio .container .portfolio-filter button,
        .contact .contact-info-item h4,
        .contact .contact-form .form-item .form-control{
            color: $heading_Dark;
        }
        .home .intro p,
        .about .about-content .about-text p,
        .about .personal-info .info-item p,
        .about .skills .skill-item .skill-percent,
        .about .about-content .personal-info .info-item p,
        .about .education .timeline-box .timeline .timeline-item .timeline-date, 
        .about .experience .timeline-box .timeline .timeline-item .timeline-date,
        .about .education .timeline-box .timeline .timeline-item .timeline-text, 
        .about .experience .timeline-box .timeline .timeline-item .timeline-text,
        .service .container .service-item .service-item-inner p{
            color: $text_Dark;
        }
        .about .education .timeline-box .timeline,
        .about .experience .timeline-box .timeline,
        .service .container .service-item .service-item-inner,
        .contact .contact-form .form-item .form-control{
            background-color: $background_Dark_Two;
        }
        .portfolio .container .portfolio-item .portfolio-item-inner,
        .contact .contact-form .form-item .form-control
        .aside{
            border-color: $border_Dark;
        }
    }
    
}



@import 'mediaqueries';